.form-block-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../../public/images/noise-background.webp");
    padding-top: 100px;
}

.form-block-title {
    width: 806px;
    font-size: 60px;
    line-height: 120%;
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
}

.form-block-description {
    width: 602px;
    text-align: center;
    font-size: 16px;
    line-height: 120%;
    font-family: Inter, sans-serif;
    font-weight: 300;
    margin-bottom: 30px;
}

.form-block-form {
    display: flex;
    flex-direction: column;
    width: 602px;
    gap: 10px;
}

.form-input {
    padding: 20px;
    font-size: 16px;
    line-height: 120%;
    font-family: Inter, sans-serif;
    font-weight: 300;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
}

.form-confidence-wrapper {
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
    align-items: center;
}

.gd {
    display: grid;
}

.toggle-button {
    margin: 20px;
}

.toggle-button:before {
    counter-increment: button-counter;
    content: counter(button-counter);
    position: absolute;
    right: 0;
    bottom: 0;
    color: #d7e3e3;
    font-size: 12px;
    line-height: 1;
    padding: 5px;
}

.knob,
.btn-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.btn {
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    margin: -20px auto 0 auto;
    overflow: hidden;
}

.btn.btn-pill,
.btn.btn-pill > .btn-bg {
    border-radius: 100px;
}

.btn.btn-rect {
    border-radius: 2px;
}

.checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knob {
    z-index: 2;
}

.btn-bg {
    width: 100%;
    background-color: var(--gray-light);
    transition: 0.3s ease all;
    z-index: 1;
}

#button-1 .knob:before {
    content: "нет";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 20px;
    height: 10px;
    color: var(--base-white);
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: var(--base-gray);
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-1 .checkbox:checked + .knob:before {
    content: "да";
    left: 42px;
    background-color: var(--base-green);
}

#button-1 .checkbox:checked ~ .btn-bg {
    background-color: var(--base-white);
}

#button-1 .knob,
#button-1 .knob:before,
#button-1 .btn-bg {
    transition: 0.3s ease all;
}

.form-get-lead-button {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 20px 30px;
    border-radius: 31px;
    border: 1px solid var(--base-dark);
    font-weight: 600;
    font-size: 16px;
    color: var(--base-dark);
    width: 181px;
}

.form-get-lead-button:active {
    background-color: inherit;
    border: 1px solid var(--base-dark);
}

.form-get-lead-button:hover {
    background-color: var(--base-dark);
    border: 1px solid var(--base-white);
    color: var(--base-white);
    transition: 0.3s ease all;
}

.form-get-lead-button:not(:hover) {
    transition: 0.3s ease all;
}

.form-block-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 320px) and (max-width: 768px) {
    .form-block-title {
        width: 100%;
        font-size: 36px;
        margin-bottom: 20px;
    }

    .form-block-description {
        width: 100%;
        margin-bottom: 19px;
    }

    .form-block-form {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .form-get-lead-button {
        width: 100%;
        justify-content: center;
        gap: 10px;
        margin-bottom: 30px;
    }

    .form-block-car-image {
        width: 100%;
        height: auto;
    }
}