.about-wrapper {
    color: var(--base-dark);
    background-image: url("../../../public/images/noise-background.webp");
    padding-bottom: 120px;
}

.block-title-upper-about {
    font-family: "Comforter Brush", sans-serif;
    color: var(--base-green);
    font-size: 60px;
    margin: 100px 0 0;
    padding: 0;
    font-weight: 100;
    box-sizing: border-box;
}

.block-title-under-about {
    font-size: 80px;
    color: var(--base-dark);
    margin: 0 0 40px;
    padding: 0;
    position: relative;
    top: -50px;
    font-weight: 900;
    box-sizing: border-box;
}

.block-title-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.about-section {
    display: flex;
    margin: 0 353px 40px;
    gap: 40px;
    box-sizing: border-box;
}

.about-section-description-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 300;
    box-sizing: border-box;
}

.about-section-title {
    margin: 0;
    padding: 0;
    font-size: 40px;
    min-width: 302px;
    font-family: Montserrat, sans-serif;
    box-sizing: border-box;
}

.about-description-button {
    border: 1px solid var(--base-dark);
    border-radius: 31px;
    padding: 18px 30px;
    width: auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    color: var(--base-dark) !important;
    text-decoration: none;
}

.about-description-button-wrapper {
    display: flex;
    gap: 10px;
    box-sizing: border-box;
    justify-content: center;
}

.about-works-wrapper {
    margin: 0 353px 40px;
    box-sizing: border-box;
}

.about-works-title {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 140%;
    font-weight: 600;
}

.about-car-image-wrapper {
    margin-bottom: 20px;
}

.about-benefits-title {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    line-height: 140%;
    font-weight: 700;
}

.about-benefit {
    display: flex;
    flex-direction: column;
    width: 398px;
    height: 208px;
    border-radius: 20px;
    background-color: var(--base-white);
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.about-benefits-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.about-benefits-description {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 20px;
}



@media (min-width: 320px) and (max-width: 768px) {
    .block-title-upper-about {
        font-size: 48px;
        margin: 60px 0 0;
    }

    .block-title-under-about {
        font-size: 36px;
        margin: 0;
        top: -35px;
    }

    .about-section {
        flex-direction: column;
        margin: 0 0 20px;
        gap: 20px;
        padding: 0 20px;
    }

    .about-works-wrapper {
        margin: 0 0 20px;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .about-description-button-wrapper {
        gap: 10px;
        justify-content: flex-start;
        max-width: 100%;
        flex-wrap: wrap;
    }

    .about-description-button {
        white-space: wrap;
    }

    .about-car-image-wrapper {
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .about-car-image {
        object-fit: cover;
        object-position: center center;
    }

    .about-benefits-wrapper {
        flex-direction: column;
    }

    .about-benefit {
        width: 100%;
        height: 208px;
        padding: 20px;
        box-sizing: border-box;
    }

    .about-benefits-title-wrapper {
        margin-bottom: 16px;
    }

    .about-benefits-title {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 769px) and (max-width: 1700px) {
    .about-section {
        flex-direction: column;
        margin: 0 120px 20px;
        gap: 20px;
        padding: 0 20px;
    }
}