.item-wrapper {
    display: flex;
    gap: 10px;
}

.list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
}

@media (min-width: 320px) and (max-width: 768px) {
    .list-wrapper {
        margin-bottom: 10px;
    }
}