.portfolio-images-wrapper {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.portfolio-image-wrapper:hover {
    transform: scale(103%);
    transition:all .5s ease;
}

.portfolio-image-wrapper:not(:hover) {
    transition:all .5s ease;
}