.portfolio-global-wrapper {
    box-sizing: border-box;
    height: 100%;
}

.portfolio-wrapper {
    background-image: url("../../../public/images/noise-background.webp");
    box-sizing: border-box;
    padding: 0 353px;
    margin: 0;
    position: relative;
    z-index: 5;
}

.portfolio-title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-title-upper {
    font-family: "Comforter Brush", sans-serif;
    color: var(--base-green);
    font-size: 60px;
    margin: 100px 0 0;
    padding: 0;
    font-weight: 100;
    box-sizing: border-box;
}

.portfolio-title-under {
    font-size: 80px;
    color: var(--base-dark);
    margin: 0 0 40px;
    padding: 0;
    position: relative;
    top: -50px;
    font-weight: 900;
    box-sizing: border-box;
}

.portfolio-get-instagram-button {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    padding: 20px 30px;
    border-radius: 31px;
    border: 1px solid var(--base-white);
    font-weight: 600;
    font-size: 16px;
    color: var(--base-white);
    z-index: 100;
    position: relative;
    cursor: pointer;
    width: 250px;
    text-decoration: none;
}

.portfolio-get-instagram-button:hover {
    cursor: pointer;
    color: var(--base-dark);
    background-color: var(--base-white);
    transition:all .5s ease;
}

.portfolio-get-instagram-button:not(:hover) {
    transition:all .5s ease;
}

.portfolio-instagram-wrapper {
    background-color: var(--base-dark);
    position: relative;
    top: -150px;
    margin: 0 0 -151px;
    padding: 250px 353px 120px;
    z-index: 0;
    color: var(--base-white);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.portfolio-instagram-upper-title {
    font-family: "Comforter Brush", sans-serif;
    color: var(--base-green);
    font-size: 60px;
    line-height: 100%;
    padding: 0;
    font-weight: 100;
    box-sizing: border-box;
}

.portfolio-instagram-under-title {
    font-size: 40px;
    line-height: 120%;
    width: 450px;
    color: var(--base-white);
    margin: 0;
    padding: 0;
    position: relative;
    top: -30px;
    left: 30px;
    font-weight: 900;
    box-sizing: border-box;
}

.portfolio-instagram-description {
    font-size: 16px;
    line-height: 120%;
    color: var(--gray-light);
    margin-bottom: 30px;
    width: 550px;
    font-weight: 300;
}

.portfolio-instagram-images-wrapper {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}

.portfolio-instagram-image {
    position: relative;
}

.portfolio-dialog-image {
    position: relative;
    top: -31px;
    left: 35px;
    rotate: 4deg;
}

.portfolio-heart-image {
    position: relative;
    right: -160px;
    top: 60px;
}

@media (min-width: 320px) and (max-width: 768px) {
    .portfolio-wrapper {
        padding: 0 20px;
    }

    .portfolio-instagram-wrapper {
        top: -250px;
        padding: 300px 0 0;
        flex-direction: column;
        margin: 0 0 -250px
    }

    .portfolio-title-upper {
        font-size: 48px;
        margin: 60px 0 0;
    }

    .portfolio-title-under {
        font-size: 36px;
        margin: 0 0 20px;
        top: -35px;
    }

    .portfolio-instagram-upper-title {
        font-size: 48px;
    }

    .portfolio-instagram-under-title {
        font-size: 26px;
        line-height: 140%;
        position: relative;
        top: -25px;
        left: 0;
        width: 100%;
        text-align: center;
    }

    .portfolio-instagram-title-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 360px;
    }

    .portfolio-instagram-description {
        width: 90%;
        font-weight: 300;
        flex-wrap: wrap;
        padding: 0;
    }

    .portfolio-instagram-underwrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }

    .portfolio-instagram-images-wrapper {
        position: static;
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 80px;
    }

    .portfolio-dialog-image {
        position: relative;
        rotate: 4deg;
    }

    .portfolio-heart-image {
        position: relative;
    }
}