:root {
  --base-dark: "#262626";
  --base-green: "#A2DB00";
  --base-white: "#FFFFFF";
  --error: "#FF0000";
  --base-gray: "#777777";
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}