footer {
    background-color: var(--base-dark);
    padding: 40px 353px 0;
    box-sizing: border-box;
    color: var(--base-white);
}

.footer-nav ul {
    display: flex;
    gap: 40px;
    padding: 14px 20px;
    background-color: transparent;
}

.footer-nav ul li {
    list-style: none;
}

.footer-nav ul li a {
    color: var(--base-white);
    text-decoration: none;
}

.footer-nav ul li a:hover {
    color: var(--base-green);
    cursor: pointer;
    transition:all .5s ease;
}

.footer-nav ul li a:not(:hover) {
    transition:all .5s ease;
}

.footer-inform-wrapper {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    height: 82px;
}

footer .phones-wrapper a {
    color: var(--base-white);
}

footer .footer-contacts {
    display: flex;
    gap: 10px;
}

.footer-copyright-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 57px;
    color: var(--base-gray);
}

.footer-divider {
    width: 100%;
    height: 1px;
    border-width: .5px 0 0;
    border-style: solid;
    border-image: linear-gradient(to right, #4E4E4E 0%, #4E4E4E 30%, #C7C7C7 50%, #4E4E4E 70%, #4E4E4E 100%) 1;
}

.footer-phones-wrapper {
    display: flex;
    flex-direction: column;
    color: var(--base-white);
}

.footer-phones-wrapper a:hover {
    color: var(--base-green);
    transition:all .5s ease;
}

.footer-phones-wrapper a:not(:hover) {
    transition:all .5s ease;
}

.footer-phone-link {
    color: var(--base-white);
    text-decoration: none;
}

.footer-full-info-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 20px 0 20px;
    align-items: center;
}

.footer-full-info-name {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
}

.footer-full-info-email {
    display: flex;
    gap: 10px;
}

.footer-full-info-email a {
    text-decoration: none;
    color: var(--base-white);
}

.footer-full-info-social {
    display: flex;
    gap: 10px;
}

.conf-polic {
    color: var(--base-gray);
    text-decoration: none;
}



@media (min-width: 320px) and (max-width: 768px) {
    footer {
        padding: 40px 20px 0;
    }

    .footer-inform-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: auto;
    }

    .footer-nav ul {
        display: flex;
        flex-wrap: wrap;
        gap: 10px 40px;
        padding: 14px 0;
        background-color: transparent;
    }

    .footer-divider {
        margin: 30px 0 20px;
    }

    .footer-copyright-wrapper {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 57px;
        padding-bottom: 20px;
    }

    .footer-full-info-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        justify-content: space-between;
        margin: 20px 0 20px;
        align-items: flex-start;
    }
}

@media (min-width: 769px) and (max-width: 1700px) {
    footer {
        padding: 40px 120px 0;
    }
}