.chat-block-wrapper {
    position: fixed;
    bottom: 20px;
    right: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 9999;
}

.chat-base-img {
    cursor: pointer;
}

.chat-img {
    cursor: pointer;
}

.flex {
    display: flex;
}

.none {
    display: none;
}
