.reviews-wrapper {
    background-color: var(--base-dark);
    padding-bottom: 120px;
}

.reviews-title-upper {
    font-family: "Comforter Brush", sans-serif;
    color: var(--base-green);
    font-size: 60px;
    margin: 0;
    padding: 100px 0 0;
    font-weight: 100;
}

.reviews-title-under {
    font-size: 80px;
    color: var(--base-white);
    margin: 0 0 40px;
    padding: 0;
    position: relative;
    top: -50px;
    font-weight: 900;
}

.reviews-title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews-slider-wrapper {
    margin: 0 353px;
}

@media (min-width: 320px) and (max-width: 768px) {
    .reviews-title-upper {
        font-size: 48px;
        padding: 60px 0 0;
    }

    .reviews-title-under {
        font-size: 36px;
        margin: 0 0 30px;
        top: -35px;
    }

    .reviews-slider-wrapper {
        margin: 0;
    }

    .reviews-wrapper {
        padding-bottom: 80px;
    }
}