.mobile-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-image: url("../../../../public/images/noise-background.png");
    box-sizing: border-box;
}

.mobile-header-buttons-wrapper {
    height: 40px;
    display: flex;
    gap: 10px;
}